* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    width: 100%;
    height: 200px;
    z-index: 1000;
}

.logo {
    width: 200px;
}

.logo:hover {
    scale: 1.2;
    transition: 0.2s;
}

.nav-list {
    display: flex;
    list-style: none;
    font-size: 2em;
    gap: 2em;
    font-family: 'Lilita One', cursive;
}

.item-li {
    cursor: pointer;
}

.item-li:hover{
    background-color: red;
    color: black;
    transition: 0.2s;
}

.item-li:active {
    background-color: white;
    color: red;
}

.entrance-image {
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./imgs/mainimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

.info {
    font-size: 10vh;
    color: white;
    margin-left: 5rem;
}

.main-container { 
    background-color: darkred;
    width: 100%;
    padding-top: 2rem;
}

.main-container h1 {
    text-align: center;
    font-size: 5em;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.main-characters {
    width: 100%;
}

.card-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 0.5em;
    color: #dededf;
}

.ca-img {
    padding-top: 2rem;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}

.ca-img-sid {
    max-width: 289px;
    padding-top: 2rem;
}

.card {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    position: relative;
}

.hiden {
    display: none;
}

.card:hover{
    scale: 1.03;
    transition: 0.5s;
}

.card:hover .hiden {
    display: block;
    position: absolute;
    background-color: red;
    color: black;
    padding: 0.3em;
    transition: 0.5s;
    top: 12em;
    right: 5em;
}

.card h3 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 2em;
    margin-top: 1rem;
}

.card p {
    margin-top: 1rem;
    font-size: 1.5em;
    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    gap: 1rem;
    background-color: #320202;
    height: 100%;
}

.form-container h1 {
    text-align: center;
    font-size: 5em;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.form-container h4 {
    font-size: 2em;
    color: white;
}

.form-div {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 2em;
}

.form-div input {
    padding: 0.5em;
    font-size: 1em;
}

.form-div label {
    margin-top: 2rem;
}

.form-div select {
    font-size: 1em;
    padding: 0.5em;
}

.button {
    width: 10em;
    margin-top: 2rem;
    align-self: center;
    cursor: pointer;
}

.form-div-field {
    margin-top: 1em;
    padding: 0.5em;
    font-weight: bold;
    background-color: black;
}

.radio-button {
    border: 0px;
    width: 25px;
    height: 30px;
    vertical-align: middle;
}